<%= form_for(filme) do |f| %>
  <% if filme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(filme.errors.count, "error") %> prohibited this filme from being saved:</h2>

      <ul>
      <% filme.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"Título" %>
    <%= f.text_field :titulo %>
  </div>

  <div class="field">
    <%= f.label :"Classificação" %>
    <%= f.select :classificacao, options_for_select([["1", "Um"], ["2", "Dois"], ["3", "Tres"], ["4", "Quatro"], ["5", "Cinco"]]) %>
  </div>

  <div class="field">
    <%= f.label :"Lançamento" %>
    <%= f.datetime_select :lancamento %>
  </div>

  <div class="field">
    <%= f.label :sinopse %>
    <%= f.text_area :sinopse %>
  </div>

  <div class="actions">
    <%= f.submit "Salvar" %>
  </div>
<% end %>
