<table width="100%" height=50px>
	<tr>
		<th id="t01">Rotten Potatoes!</th>
	</tr>
</table>

<p>
  <h1><%= @filme.titulo %></h1>
</p>

<p>
  <li><strong>Classificação:</strong>
  <%= @filme.classificacao %> estrelas</li>
</p>

<p>
  <li><strong>Lançamento:</strong>
  <%= @filme.lancamento %></li>
</p>

<p>
  <h3><strong>Sinopse:<br></strong></h3>
  <%= @filme.sinopse %>
</p>

<%= link_to 'Editar', edit_filme_path(@filme) %> |
<%= link_to 'Voltar', filmes_path %>
